<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Bookies</title>
    <style>
        .navbar {
            height: 13vh;
            display: flex;
            margin: 0 !important;
            /*background-color : darkolivegreen !important;*/
        }

        .center {
            align-self: center;
        }

        .body {
            min-height: 70vh;
            margin-top: 14vh;
            padding: 1vh 1vw;
        }

        body {
            padding-top: 0 !important;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <img src="~/Images/4a32cacaf19e43ab8a388e15303d1d11.png" style="padding-left:100px;padding-top:5px;" />

        <div class="container center">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Books", "All", "Book")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Value <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Library Card", "LibraryCard", "LibraryCard")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Offers", "OffersView", "Offers")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            More <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="body">
            @RenderBody()
        </div>
        <hr />
        <footer class="text-center">
            <p>&copy; Copyright @DateTime.Now.Year - The Bookies</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
