@model bookies.ViewModel.BookControllerAllViewModel

@{
    ViewBag.Title = "Book";
}

<h2>Book</h2>

@if(@Model.IsAdmin)
{
    <p>
        @Html.ActionLink("ADD Book", "AddBook")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Buy", "Buy", "Book", new { id = item.Id, rent = false }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Rent", "Buy", "Book", new { id = item.Id, rent = true }, new { @class = "btn btn-primary" })
                @if (@Model.IsAdmin)
                {
                    <span> | </span>
                    @Html.ActionLink("Delete", "Delete", "Book", new { id = item.Id }, new { @class = "btn btn-danger" })
                }
                </td>
        </tr>
    }
</table>
